<!DOCTYPE html>
<html>
<head>
	<title>HOME PAGE</title>
	

</head>
<body align=center>
	<h1 class="h1">Welcome to the Website</h1>
	<div><strong>id</strong>: <%= user.id %><br></div>
	<div>
	<strong>username</strong>: <%= user.username %><br>
	<!--<strong>password</strong>: <%= user.password %>-->	</div>
	<br>
	<br>
	<button><a href="/logout"> LOGOUT </a></button><br><br>

	<div><a href="/addsite"> ADD NEW SITE </a><div>
		<% list.forEach(function(s){ %>

		<div>
		<h2> <%= s.site%></h2>
		<h2> <%= s.username%></h2>
		<h2> <%= s.pwd%></h2><br>
		</div>

<%});%>


</body>
</html>